.post
  .row-fluid
    %span.body
      = link_to post.title, subscription_post_path(post.subscription, post)
      %br
      .details
        = "posted by #{post.author}"
        %span.source.italic= "(#{post.subscription.url_base})"
