.post
  %h3= @post.title
  .post_details
    - unless @post.author.blank?
      %span.author
        = "posted by #{@post.author}"
    %span.italic
      = details_link_for(@post)
    .clear
    %span.controls
      = link_to(image_tag("star.png"), 
                 user_favorites_path(current_user, :post_id => @post.id) ,
                 :title => "Save this post", :method => :post, :id => "save_post")
    .post_meta.pull-left
      =render("topics")
  .clear
  .post_body.well
    = @post.content.html_safe
  %h5
    = link_to "The Original Post can be found here.", @post.url
