.post
  %h3= @post.title
  .post_details
    - unless @post.author.blank?
      %span.author
        = "posted by #{@post.author}"
    %span.italic
      = details_link_for(@post)
    .clear
    .post_meta.pull-left
      =render("topics")
  .clear
  .post_body.well
    = @post.content.html_safe
  %h5
    = link_to "The Original Post can be found here.", @post.url
