!!!
%html
  %head
    %title Feeds
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tags
    
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %h1.main-title
            = link_to 'Feeds', root_path
        = form_for Subscription.new, :html => {:class => "navbar-form pull-right span4"} do |f|
          = f.text_field :url, :placeholder => "Add Feed"
          = f.submit "Add"

    .container      
      #content.row
        .span8
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
          = yield



      %footer
